*\.cache
*\.class
*\.csv
*\.dat
*\.dll
*\.dump
*\.gz
*\.html
*\.log
*\.py
*\.xml
\.curseclient
\.mixin\.out/
asm/
assetmover/
backups/
cache/
cleanroom-relauncher-v1\.properties
config/AppliedEnergistics2/CustomRecipes\.cfg
config/AppliedEnergistics2/Facades\.cfg
config/AppliedEnergistics2/VersionChecker\.cfg
config/brandon3055/ProjectIntelligence/
config/brandon3055/ResourceCache/
config/codechicken/
config/jei/itemBlacklist\.cfg
config/jei/searchColors\.cfg
config/jei/worldSettings\.cfg
crafttweaker_dump/
crash-reports/
downloads/
dynmap/
hei_bookmarks\.ini
journeymap/
local/
logs/
manifest\.json
minecraftinstance\.json
mods/
options\.txt
patchouli_books/
patchouli_data\.json
saves/
screenshots/
scripts/
server-resource-packs/
vintagefix/
